.header {
    height: 50px;
    text-align: center;
    background-color: #fff;
}

.closeIcon {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 20px;
}

.twitterLogo {
    height: 30px;
    margin-top: 10px;
}