$twitterBlue: #1d9bf0;
$twitterGray: #86818c;
.input {
    border: solid 1px #cfd9de;
    height: 53px;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}