$twitterBlue: #1d9bf0;
$twitterGray: #86818c;
$twitterGrayLight: #cfd9de;
.input {
    border: solid 1px $twitterGrayLight;
    height: 53px;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
}